{{> head}}
<body>
    {{> navbar}}
    <div class="vvod">
        <ul class="contacts">
            <li>Г. Нижний Новгород, Ленинский район, река Ржавка</li>
            <li>Телефон: 8-800-555-35-35</li>
            <li>Почта: blablabla@gmail.com</li>
            <li><a href="https://vk.com/thbeca_30">Наш ВК</a></li>
        </ul>
        <img src="img/au5.jpg" alt="">
    </div>
    <a href="/" class="home">Вернуться на главную</a>
    {{> footer}}
</body>
</html>