{{> head}}
<body>
    {{> navbar}}
    <div class="txt2"><p>Извините, данного товара пока нет в наличии((</p></div>
    <a href="/cart" class="home">Вернуться к корзине</a>
    <a href="/" class="home">Вернуться на главную</a>
    {{> footer}}
</body>
</html>