{{> head}}
<body>
    {{> navbar}}
    <div class="txt2"><p>Заказ успешно оформлен!</p></div>
    <a href="/order" class="home">Перейти к заказам</a>
    <a href="/" class="home">Вернуться на главную</a>
    {{> footer}}
</body>
</html>