<div class="header">Fashion</div>
<ul class="menu">
  <li class="elem"><a href="/products">Список товаров</a></li>
  <li class="elem"><a href="/catalog">Каталог товаров</a></li>
  <li class="elem" ><a href="/cart">Корзина</a></li>
  <li class="elem" ><a href="/order">Заказы</a></li>
  <li class="elem" ><a href="/about">О нас</a></li>
</ul>