<div class="container">
        <div class="btn prev"></div>
        <div class="slider">
            <div class="slider-line">
                <img src="img/au1.jpg" height="712" width="1450" alt="">
                <img src="img/au2.jpg" height="712" width="1450" alt="">
                <img src="img/au3.jpg" height="712" width="1450" alt="">
                <img src="img/au4.jpg" height="712" width="1450" alt="">
            </div>
        </div>
        <div class="btn next"></div>
    </div>